@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../fonts/Roboto/Roboto-Regular.ttf'), url('../fonts/Roboto/Roboto-Regular.eot'), url('../fonts/Roboto/Roboto-Regular.otf'), url('../fonts/Roboto/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../fonts/Roboto/Roboto-Bold.ttf'), url('../fonts/Roboto/Roboto-Bold.eot'), url('../fonts/Roboto/Roboto-Bold.otf'), url('../fonts/Roboto/Roboto-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot'), url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf'), url('../fonts/Playfair_Display/PlayfairDisplay-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot'), url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf'), url('../fonts/Playfair_Display/PlayfairDisplay-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-design-icons/iconfont/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../fonts/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../fonts/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
