svg(display="none")
  symbol(viewBox="0 0 40 26" id="quotes")
    g
      path(d="M19.4804 16.5425C19.4804 21.7657 15.1319 26 9.76674 26C4.40157 26 0.507458 21.9116 0.0531052 16.7069C-0.640556 8.76502 5.55625 2.11552 13.0795 0C10.5151 1.50963 8.72625 4.13515 8.42795 7.18869C8.86708 7.12801 9.31144 7.08493 9.76674 7.08493C15.1319 7.08493 19.4804 11.3187 19.4804 16.5425Z")
      path(d="M40.0001 16.5425C40.0001 21.7657 35.6517 26 30.286 26C24.9213 26 21.0267 21.9116 20.5719 16.7069C19.8782 8.76502 26.075 2.11552 33.5987 0C31.0344 1.50963 29.246 4.13515 28.9472 7.18869C29.3863 7.12801 29.8312 7.08493 30.286 7.08493C35.6517 7.08493 40.0001 11.3187 40.0001 16.5425Z")

  symbol(viewBox="0 0 73 88" id="81")

    g(filter="#filter0_d")
      rect.slick__icon_hover(x="5.5" y="5" width="54" height="70" rx="3" stroke="#2E3A59" stroke-width="2" fill="none")
      path.slick__icon_hover(d="M13.5 5H51.5V10C51.5 11.6569 50.1569 13 48.5 13H16.5C14.8431 13 13.5 11.6569 13.5 10V5Z" stroke="#2E3A59" stroke-width="2" fill="none")
    g(filter="#filter1_d")
      path.slick__icon_hover(d="M13.5 61C13.5 59.3431 14.8431 58 16.5 58H48.5C50.1569 58 51.5 59.3431 51.5 61V63C51.5 64.6569 50.1569 66 48.5 66H16.5C14.8431 66 13.5 64.6569 13.5 63V61Z" stroke="#00C368" stroke-width="2" fill="none")

  //- symbol.a(width='73', height='88', viewbox='0 0 73 88' id="81")
  //-   style.
  //-     .a{fill:none;}.b{stroke-width:2;stroke:#2E3A59;}.c{stroke-width:2;stroke:#00C368;}
  //-   g(filter='url(#filter0_d)')
  //-     rect.b(x='5.5', y='5', width='54', height='70', rx='3')
  //-     path.b(d='M13.5 5H51.5V10C51.5 11.7 50.2 13 48.5 13H16.5C14.8 13 13.5 11.7 13.5 10V5Z')
  //-     g(filter='url(#filter1_d)')
  //-       path.c(d='M13.5 61C13.5 59.3 14.8 58 16.5 58H48.5C50.2 58 51.5 59.3 51.5 61V63C51.5 64.7 50.2 66 48.5 66H16.5C14.8 66 13.5 64.7 13.5 63V61Z')
  //-   defs
  //-     filter(x='0.5', width='72', height='88', filterunits='userSpaceOnUse', color-interpolation-filters='sRGB')
  //-       feflood(flood-opacity='0', result='BackgroundImageFix')
  //-       fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
  //-       feoffset(dx='4', dy='4')
  //-       fegaussianblur(stddeviation='4')
  //-       fecolormatrix(type='matrix', values='0 0 0 0 0.65098 0 0 0 0 0.670588 0 0 0 0 0.741176 0 0 0 1 0')
  //-       feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow')
  //-       feblend(mode='normal', in='SourceGraphic', in2='effect1_dropShadow', result='shape')
  //-     filter(x='10.5', y='55', width='48', height='18', filterunits='userSpaceOnUse', color-interpolation-filters='sRGB')
  //-       feflood(flood-opacity='0', result='BackgroundImageFix')
  //-       fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
  //-       feoffset(dx='2', dy='2')
  //-       fegaussianblur(stddeviation='2')
  //-       fecolormatrix(type='matrix', values='0 0 0 0 0 0 0 0 0 0.764706 0 0 0 0 0.407843 0 0 0 0.4 0')
  //-       feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow')
  //-       feblend(mode='normal', in='SourceGraphic', in2='effect1_dropShadow', result='shape')
