block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(http-equiv="Content-Security-Policy" content="default-src  'self';script-src 'unsafe-inline'; style-src 'unsafe-inline'")
    title #{title}
    block head

  body
    block content

    block script
